<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
   

            <label for="yogurt_id">
                flavour: <select name="yogurt_id" id="yogurt_id">
                    {{#yogurt}}
                    <option value="{{id}}">{{name}}</option>
                    {{/yogurt}}
                </select>
 
</body>

</html> -->